.bubble-container {
    display: flex;
    height: 60vh;
    background-color: transparent;
    background-position: center;
    justify-content: center;
    align-items: center;
}

.bubble-container.bubble-small {
    height: auto;
    padding-top: 20px;
}

div.hero.bubble-transparent {
    background-color: transparent;
}

div.hero-body.bubble-overlay, nav.navbar.bubble-overlay {
    background-color: rgba(201, 201, 201, 0.9);
}

.box .title, .box p {
    color: black!important;
}

.container .button {
    float: left;
}

.container .box {
    margin-top: 20px;
}

.navbar.is-dark .navbar-start .navbar-menu .navbar-item.is-active:not(:hover) {
    background-color: #292929;
    color: #f5f5f5;
}

.navbar.is-dark .navbar-start .navbar-link:not(:hover):not(.is-active) {
    color: #4a4a4a;
}

body {
    background-image: url('../img/bubble.jpg');
    background-size: cover;
    background-position-x: 50%;
}
