.bubble-container {
    display: flex;
    height: 60vh;
    background-color: transparent;
    background-position: center;
    justify-content: center;
    align-items: center;
}

.bubble-container.bubble-small {
    height: auto;
    padding-top: 20px;
}

div.hero.bubble-transparent {
    background-color: transparent;
}

div.hero-body.bubble-overlay, nav.navbar.bubble-overlay {
    background-color: rgba(201, 201, 201, 0.9);
}

.box .title, .box p {
    color: black!important;
}

.container .button {
    float: left;
}

.container .box {
    margin-top: 20px;
}

.navbar.is-dark .navbar-start .navbar-menu .navbar-item.is-active:not(:hover) {
    background-color: #292929;
    color: #f5f5f5;
}

.navbar.is-dark .navbar-start .navbar-link:not(:hover):not(.is-active) {
    color: #4a4a4a;
}

body {
    background-image: url('../img/bubble.jpg');
    background-size: cover;
    background-position-x: 50%;
}
<table>
 <caption>Table Title</caption> <!--| caption is the first child of table |-->
  <thead> <!--======================| thead is after caption |-->
    <tr>
      <th>Header content 1</th> 
      <th>Header content 2</th>
    </tr>
  </thead>

  <tbody> <!--======================| tbody is after thead |-->
    <tr>
      <td>Body content 1</td>
      <td>Body content 2</td>
    </tr>
  </tbody>
  
  <tfoot><!--| tfoot can be placed before or after tbody, but not in a group of tbody. |-->         <!--| Regardless where tfoot is in markup, it's rendered at the bottom. |-->                                                                                                                                                                                                                                                                                               
    <tr>
      <td>Footer content 1</td>
      <td>Footer content 2</td>
    </tr>
  </tfoot>

</table>
